.v-application{
  font-family: Roboto, sans-serif;  
}

a{
    text-decoration: none;
}

.custom-text{
    color: #298103 !important;
}

.color-success{
    background-color: #298103 !important;
    color: #ffffff !important;
  }

.color-off{
background-color: rgb(170, 165, 165) !important;
color: #ffffff !important;
}

/* modificata questa classe per v-select dentro site-overview -> da mobile non visualizzabile  */
.v-input__control{
    min-height: 48px;
    padding: 0;
    min-width: 210px;
}

.v-application a{
  color:inherit;
}

.custom-container{
  background-color: #ffffff!important;
}

.custom-date-input > .v-input__control > .v-input__slot{
  width: 135px !important;
}

.theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
  background: #f5f2f2 !important;
}

.v-text-field fieldset, .v-text-field .v-input__control, .v-text-field .v-input__slot {
  border-radius: 5px;
}

 .v-input__control{
  min-width: 120px !important;
} 

